
= form_for(registration,remote:true, html: { "data-abide": true,novalidate: true }) do |f| 
  
  %fieldset.fieldset
    %legend.legend.small-6.large-6
      %h4.summary.text-center Please enter your details
    .alert.callout{data:{abide:{error:true}}}
      %p
        %i.fi-alert Please fill out the requried fields    
    %label{id: :employee_id} 
      %small.orange*
      Employee ID
      = f.number_field :employee_id,required:true,placeholder:'Employee ID',min:1,"data-validate-on-blur":true
      %small.form-error Please enter your Employee ID
    %label{id: :name} 
      Full Name
      = f.text_field :name ,required:true,placeholder:'Full Name',autocomplete:"off","data-validate-on-blur":true
      %small.form-error Please enter your Full Name
    %label{id: :email} 
      %small.orange*
      Email ID
      = f.email_field :email ,required:true,placeholder:'Email ID',autocomplete:"off","data-validate-on-blur":true
      %small.form-error Please enter a valid Email Address
    = f.button 'Register Me',type:'submit',class:"success large expanded button hvr-underline-from-center" 
    %small.help-text.orange * Required Fields
        
  

  
  

  
  

  
  

