<p id="notice"><%= notice %></p>

<h1 class="cane-candy">Registrations</h1>

<table>
  <thead>
    <tr>
      <th>Secret Santa</th>
      <th>Sigma'ite Name / Id</th>
      <th>Sigma'ite Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.santa ? registration.santa.name : 'TBD' %></td>
        <td><%= registration.name.blank? ?  registration.employee_id : registration.name %></td>
        <td><%= registration.email %></td>
        <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
        <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class='row'>
  <div class='small-3 large-3 columns'></div>
  <div class='small-6 large-6 columns text-center'>
  <%if assignments_done? %>
    <%= link_to 'Assignments are done !','#', class:'button large'%>
  <%else%>
    <%= link_to 'Assign Santa to All', assign_santa_id_registrations_path, method: :get, data: { confirm: 'Are you sure?' }, class:'button large  '  %>
  <%end%>
  <%if registrations_closed? %>
    <%= link_to 'Registrations are closed !', '#',class:'button alert large ' %>
  <%else%>
    <%= link_to 'Close Registrations', close_registration_registrations_path, method: :get, data: { confirm: 'Are you sure?' },class:'button alert large ' %>
  <%end%>
  </div>
  <div class='small-3 large-3 columns'></div>
</div>
  
  <div class='row'>
  <div class='small-3 large-3 columns'></div>
  <div class='small-6 large-6 columns text-center'>
    <%= link_to 'Send Sigmaties to Santa', send_sigmaites_registrations_path, method: :get, data: { confirm: 'Are you sure?' }, class:'button success large'  %>
  </div>
  <div class='small-3 large-3 columns'></div>
  
  </div>
<br>

