.row
	.small-12.large-12.columns.text-center.header
		%img{ :src=>"/assets/header.png", :alt=>"Be a secret santa !"}
		%h1.cane-candy Lets Spread Some Christmas Cheer !
	

.row
	.small-2.large-2.columns
	.small-8.large-8.columns.text-center
		%h3.subheadings  
			Lets Spread Some Joy and Have
			%br/
			Unlimited Fun
	.small-2.large-2.columns

.row
	.small-4.large-4.columns
	.small-4.large-4.columns.text-center
		%a{:href=>rules_registrations_path, :class=>"fa fa-snowflake-o fa-2x hvr-bounce-to-bottom secondary button expanded"} Register
	.small-4.large-4.columns



	




	
