
.row
  .small-2.large-2.columns
  .small-8.large-8.columns
    %h1.cane-candy.text-center Registrations
    = render 'form', registration: @registration 
  .small-2.large-2.columns
.row
  .small-2.large-2.columns
  .small-8.large-8.columns
    = link_to 'Back', rules_registrations_path ,class: 'button alert hvr-icon-back  expanded'
  .small-2.large-2.columns
