%br

.row
  .small-3.large-3.columns  
  .small-6.large-6.columns.text-center  
    %h3.exit_msg ! Please Read Through !
  .small-3.large-3.columns  

%br

.row
  .small-3.large-3.columns  
    = link_to 'Back', landing_registrations_path ,class: 'button secondary hvr-icon-back'
  .small-6.large-6.columns.text-center  
    %h4.cane-candy Who is Who ?  
  .small-3.large-3.columns  
  .small-12.large-12.columns  

.row
  .small-12.large-12.columns  
    %h5.exit_msg 
      %ul
        %li Secret Santa : The one who gives the gift
        %li Sigma'ite : The one who receives the gift
  .small-2.large-2.columns  

%br

.row
  .small-3.large-3.columns  
  .small-6.large-6.columns.text-center  
    %h4.cane-candy Event Rules  
  .small-3.large-3.columns  
  .small-12.large-12.columns  

.row
  .small-12.large-12.columns  
    %h5.exit_msg
      %ul
        %li You will have to Register yourself to be a Secret Santa
        %li Gift could be simple, meaningful and stick to a reasonable budget
        %li You are eligible to receive a gift only if you are registered as a Secret Santa
        %li You will receive an email with the name of the Sigma’ite after registration date is closed
        %li You should write the name of your Sigma’ite on the gift
        %li Your Secret Santa will not be revealed until you solve a riddle
        %li After registration, sharing the gift is mandatory
        %li Registrations will close on 14-Dec-2017 at 2:00 pm
        %li The gifts will be shared on 18-Dec-2017 from 12:00 pm to 6:00 pm

.row
  .small-4.large-4.columns
  .small-4.large-4.columns.text-center
   
    - if registrations_closed?
      %h5.exit_msg Sorry, Registrations closed !
    - else
      %a{:href=>new_registration_path, :class=>"large alert hvr-icon-fade button"} 
        %i.fa.fa-smile-o{aria:{hidden:"true"}}
        &nbsp; Agree & Continue
  .small-4.large-4.columns

    
