%br

.row
  .small-1.large-1.columns  
  .small-10.large-10.columns.text-center  
    %h1.cane-candy 
      Thank you for registering 
      %br/
      #{@registration.name.camelize}
    %br
    %h4.exit_msg
      You will receive an confirmation email at 
      %br/
      %span.important " #{@registration.email} " 
      %br/
      Your assigned Sigma'ite name will be sent to you after the registrations close (14 DEC 2017).
  .small-1.large-1.columns  
%br

.row
  .small-4.large-4.columns  
  .small-4.large-4.columns.text-center  
    = link_to 'I made a Mistake !',edit_registration_path(@registration) ,class:'button alert expanded'
    = link_to 'Home Page',landing_registrations_path ,class:'button expanded'
  .small-4.large-4.columns  

