<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @employee.name %>,</h1>
    <p>
      You have successfully registered to be a Secret Santa.
    </p>
    <p>
      You will receive your Sigma'ite Name after the registrations close(14-Dec-2017).
    </p>
    <%= image_tag attachments['logo.png'].url %>
    <p>Regards,</p>
    <h3>Sigma HR</h3>

  </body>
  <h3>
    
  </h3>
</html>