<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @sigmaite.name %>,</h1>
    <p>
      Your Secret santa's name looks like : <%=@sigmaite.clue_name %>
    </p>
    <p>
      and santa's Id is like : <%=@sigmaite.clue_id %>
    </p>

    <%= image_tag attachments['logo.png'].url %>
    <p>Good Luck guessing it ! :)</p>
    <p>Regards,</p>
    <h3>Sigma HR</h3>

  </body>
  <h3>
    
  </h3>
</html>