<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @sigmaite.santa.name %>,</h1>
    <p>
      Your Sigmaite Name : <%=@sigmaite.name %>
    </p>
    <p>
      Your Sigmaite Employee ID : <%=@sigmaite.employee_id %>
    </p>
    <ul>
      <li>Please label the gift with both the <b>Name</b> and the <b>Employee ID</b> of the <b>Sigma'ite</b> you are gifting to</li>
      <li>The gift is to be dropped into collection box available in the Reception on Monday(18-Dec-2017)</li>
      <li>The gifts will be shared on 18-Dec-2017 from 12:00 pm to 6:00 pm</li>
    </ul>
    
    <%= image_tag attachments['logo.png'].url %>

    <p>Regards,</p>
    <h3>Sigma HR</h3>

  </body>
  <h3>
    
  </h3>
</html>