// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.important{
  font-family: Arial;
  font-weight: bold;
  color:#2199e8;
}

.callout{
  display:none;
}

@font-face {
    font-family: 'candy_cane';
    src: url('fonts/candy-webfont.woff2') format('woff2'),
         url('fonts/candy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vibes';
    src: url('fonts/vibes-webfont.woff2') format('woff2'),
         url('fonts/vibes-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'xmas';
    src: url('fonts/christmas-webfont.woff2') format('woff2'),
         url('fonts/christmas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.page-bg {
	background-image:  image-url('bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
  width: 100% ;
  z-index: 0; 
}

.header{
  width: 100%;
  padding-bottom:2rem;
}

.header-candy{
  font-family: 'candy_cane';
  color : red;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
 
 
}

.cane-candy{
	font-family: 'candy_cane';
	color : red;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.5rem;
}

ul{
  padding-left: 1.5rem;
}

.summary{
  font-family: 'xmas';
  color: blue;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.5rem;
}

.subheadings{
  font-family: 'xmas';
  color: #FFF;
  border-radius: 0.5rem;
  text-stroke-width : 1px;
  text-stroke-color : red;
}

fieldset {
  color: black;
  font-weight:bold;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.5rem;
}

.fieldset legend {
  background: none !important;
}

.exit_msg{
  font-family: 'vibes';
  color: #2199e8;
  background-color: rgba(255, 255, 255, 1);
  font-weight: thin;
  border-radius: 0.5rem;
}

small.orange{
  color: red;
}
fi-alert{
 color: red; 
}