<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Secret Santa" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body class="page-bg" >
  
    <%= yield %>
    
  <div class='row footer'>
    <div class='small-12 large-12 columns text-center'>

    </div>
  </div>

  </body >
  <script type="text/javascript">
  snowEffects();
  </script>
</html>
